<i>
    <h2>Log In<h2>
</i>

<p><i><%= @error %></i></p>

<%= form_for(:session, url: login_path) do |f| %>
<i>
    <%= label_tag :username %>
    <%= text_field_tag :username %>
    <br>
    <%= label_tag :password %>
    <%= password_field_tag :password %>
    <br>
    <%= f.submit "Log in", class: "btn-submit" %><p> or </p><%=link_to "Log in via Github", '/auth/github'%>
    <% end %>