<h2> Edit Actor </h2>

<%= render partial: '/errors', locals: { record: @actor} %>
<%= image_tag @actor.image %><br><br>

<%= form_for @actor do |f| %>
<%= f.label :first_name %>
<%= f.text_field :first_name %><br><br>
<%= f.label :last_name %>
<%= f.text_field :last_name %><br><br>
<%= f.label :biography%>
<%= f.text_field :biography %><br><br>
<%= f.submit "Edit Actor" %>
<% end %>