

<h1>Movies</h1>
<p>
  <h4> Movie Filter:</h4>
    <%= form_tag(movies_path, method: :get) do %>
    <%=text_field_tag(:filter, params[:filter]) %>
    <%= submit_tag ("Filter") %>
    <% end %></p>

<div class="main">
    <div class="container">
        <center>
            <h2>Streaming Now</h2>
            <center>
                <br>
                <%@movies.each do |movie|%>
                <center>
                    <div class="movie">
                        <center>
                    
                            <%=image_tag movie.image%>
                            <h3><%=movie.title%></h3>
                            <p><%=movie.release_year%></p>
                            <p><%=movie.genre%></p>
                            <%=link_to "Learn more", movie_path(movie)%>

                    </div>
                    <br>

                    <%end%>
    </div>
</div>