<div class="main movie-show">
  <div class="container">
    <div class="movie">
      
      <!-- Display the movie's info here -->
      <div class="info">
        <!-- movie image -->
         <%=image_tag movie.image%>
        <h3 class="movie-title"> </h3>
         <%=movie.title%>
        <p class="movie-release-year"></p> 
        <%= movie.release_year%>
        <p class="movie-genre"></p>
        <%= movie.genre%>
      </div>
    </div>

    <h2>Cast</h2>
    <!-- Display each actor's info here -->
    <% @actors.each do |actor|%>
    <div class="actor">
      <%=image_tag actor.image%>
      <!-- actor image -->
      <h3 class="actor-name"> </h3>
       <%=image_tag actor.first_name +" "+ actor.last_name%>
      <p class="actor-biography">  </p>
       <%= actor.biography%>
    </div>
<%end%>
  </div>
</div>
