<div class="main movie-show">
  <div class="container">
    <div class="movie">
      
      
      <div class="info">
      
         <%=image_tag  @movie.image%>
        <h3 class="movie-title"> </h3>
         <%=@movie.title%>
        <p class="movie-release-year"></p> 
        <%=@movie.release_year%>
        <p class="movie-genre"></p>
        <%=@movie.genre%>
      </div>
    </div>

    <h2>Actors</h2>
    
    <% @actors.each do |actor|%>
    <div class="actor">
      <%=image_tag actor.image%>
      <h3 class="actor-name"> 
       <%= actor.first_name%> <%=actor.last_name%></h3>
      <p class="actor-biography"></p>
       <%= actor.biography%>
    </div>
<%end%>
  </div>
</div> 



