<h2> New Scene <%= @scene.category %> </h2>

<%= form_for @scene do |f| %>
<%= f.label :Actor %>
<div><%= f.collection_select :actor_id, Actor.all, :id, :name, prompt: true %></div>
<%= f.label :Movie %>
<div><%= f.collection_select :movie_id, Movie.all, :id, :title, prompt: true %></div>
<%= f.label :Location %>
<div><%= f.text_field :location %></div><br>
<%= f.label :Time %>
<div><%= f.text_field :time %></div><br>
<%= f.label :Acting %>
<div><%=f.text_field :acting %></div><br>
<%= f.submit "Create a Scene" %>
<% end %>