<%= link_to "Add a scene", new_actor_scene_path( @actor) %>
<h1><%= @actor.first_name+ " "+ @actor.last_name %></h1>
<%= image_tag @actor.image%>


<%@scenes.each do |scene| %>

<p><%= scene.time %></p>
<p><%= scene.location %></p>
<p><%= scene.acting %></p>
<% end %>