<h2> Actors <%= @actor.first_name %><%= @actor.last_name %> </h2>
<%= link_to "Add New Scene", new_actor_scene_path(@actor) %>

<% @actor.scenes.each do |scene| %>
    <h3><%= scene.movie.title %></h3>
    <p><%= scene.time %></p>
    <p><%= scene.location %></p>
<% end %>