<!DOCTYPE html>
<html>

<head>
    <title>MovieApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <br>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>
<nav>
    <% if current_user %>
    <li><%=current_user.username %></li>
    <li><%= link_to "Logout", logout_path, method: "delete" %></li>
    <% else %>
    <%= render'layouts/nav'%>
    <%end%>
</nav>

<body>

    <%= yield %>
</body>

</html>